{# index.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    
</head>
<body>
<div style="text-align: center">
<div style="text-align: right; margin-right: 100px" >
    {% if request.user.is_authenticated %}
        <h4><b>欢迎：{{ user }}/<a href="/logout/?from_page={{ request.get_full_path }}">~注销~</a></b></h4>
    {% else %}
        <h4><b>欢迎：游客/<a href="/login/?from_page={{ request.get_full_path }}">~登录~</a>/<a href="/register/?from_page={{ request.get_full_path }}">~注册~</a></b></h4>
    {% endif %}

<ul><li><a href = "{% url 'HomePage:register' %}">register </a></li></ul>
<ul><li><a href = "{% url 'HomePage:login' %}">login </a></li></ul>

</body>
</html>
